

    <div class="personal-data form-group">
        <!-- <fieldset ng-form="subscriber"> style="border: 1px solid red; background-color: bisque;" -->
        <!-- <legend>Subscriber Details :</legend> -->
        <div class="form-row" ng-show="isEmptyLegalGardian">
            <div class="form-group col-md-2">
                <label for="txtG_idNumber_new">ID Number</label>
                <input type="text" class="form-control" id="txtG_idNumber_new" name="txtG_idNumber_new" ng-model="person.identity_id" placeholder="ID Number" ng-class="{invalid: isValidGuardianIdentityId()}" ng-required="{{noLegalGardian}}">
                <div class="invalid-feedback d-block" ng-show="isValidGuardianIdentityId()">Invalid ID Number.</div>
            </div>
            <div class="form-group col-md-3">
                <label for="txtG_lastName_new">Last Name</label>
                <input type="text" class="form-control" id="txtG_lastName_new" name="txtG_lastName_new" ng-model="person.last_name" placeholder="Last Name">
            </div>
            <!-- <abel class="col-md-2 col-form-label text-left"> -->
            <div class="form-group col-md-4">
                <label for="txtG_firstName_new">First Name</label>
                <input type="text" class="form-control" id="txtG_firstName_new" name="txtG_firstName_new" ng-model="person.first_name" placeholder="First Name">
            </div>
            <div class="form-group col-md-3"> <!--  ng-controller="datepickerCtrl" -->
                <label for="txtG_birthday_new">Date of Bitrh</label>
                <!-- <input type="date" class="form-control" id="txtG_birthday" ng-model="person.birthday" format="dd/MM/yyyy" placeholder="Birthday"> -->
                <div class="datepicker">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" id="btnGBirthday" name="btnBirthday"ng-click="openDP()">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </span>
                    <input type="text" class="form-control" id="txtG_birthday_new" name="txtG_birthday_new" uib-datepicker-popup="{{format}}" ng-model="person.birthday" is-open="dpPopup.opened" datepicker-options="dateOptions" ng-required="{{noLegalGardian}}" ng-submit="" close-text="סגירה" clear-text="ניקוי" current-text="היום"/>
                </div>
            </div>
        </div>
        <div class="form-row" ng-repeat="person in personsArr | personByType : familyRelation.familyHead" condition="$first">
            <div class="form-group col-md-2">
                <label for="txtG_idNumber">ID Number</label>
                <input ng-show="isEmptyLegalGardian" type="text" class="form-control" id="txtG_idNumber" name="txtG_idNumber" ng-model="person.identity_id" placeholder="ID Number" ng-class="{invalid: isValidGuardianIdentityId()}" required>
                <input ng-hide="isEmptyLegalGardian" type="text" class="form-control" id="txtG_idNumber_ro" name="txtG_idNumber_ro" ng-model="person.identity_id" placeholder="ID Number" readonly> <!-- currFamily.gurdian.identity_id" -->
                <div class="invalid-feedback d-block" ng-show="isValidGuardianIdentityId()">Invalid ID Number.</div>
            </div>
            <div class="form-group col-md-3">
                <label for="txtG_lastName">Last Name</label>
                <input type="text" class="form-control" id="txtG_lastName" name="txtG_lastName" ng-model="person.last_name" placeholder="Last Name">
            </div>
            <!-- <abel class="col-md-2 col-form-label text-left"> -->
            <div class="form-group col-md-4">
                <label for="txtG_firstName">First Name</label>
                <input type="text" class="form-control" id="txtG_firstName" name="txtG_firstName" ng-model="person.first_name" placeholder="First Name">
            </div>
            <div class="form-group col-md-3"> <!--  ng-controller="datepickerCtrl" -->
                <label for="txtG_birthday">Date of Bitrh</label>
                <!-- <input type="date" class="form-control" id="txtG_birthday" ng-model="person.birthday" format="dd/MM/yyyy" placeholder="Birthday"> -->
                <div class="datepicker">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" id="btnGrepBirthday" name="btnBirthday"ng-click="openDP()">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </span>
                    <input type="text" class="form-control" id="txtG_birthday" name="txtG_birthday" uib-datepicker-popup="{{format}}" ng-model="person.birthday" is-open="dpPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="סגירה" clear-text="ניקוי" current-text="היום"/>
                    <input type="text" class="form-control" id="txtG_id" name="txtG_id" ng-model="person.id" hidden/>
                </div>
            </div>
        </div>
    </div>
