

<div class="form-row">
    <div class="personal-data form-group">
        <!-- <fieldset ng-form="subscriber"> style="border: 1px solid red; background-color: bisque;" -->
        <!-- <legend>Subscriber Details :</legend> -->
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="txtS_idNumber">ID Number</label>
                <input ng-show="isEmptySpause" type="text" class="form-control" id="txtS_idNumber" name="txtS_idNumber" ng-model="currFamily.spause.identity_id" placeholder="ID Number" ng-class="{invalid: isValidGuardianIdentityId()}" required>
                <input ng-hide="isEmptySpause" type="text" class="form-control" id="txtS_idNumber_ro" name="txtS_idNumber_ro" ng-model="currFamily.spause.identity_id" placeholder="ID Number" readonly>
                <div class="invalid-feedback d-block" ng-show="isValidGuardianIdentityId()">Invalid ID Number.</div>
            </div>
            <div class="form-group col-md-3">
                <label for="txtS_lastName">Last Name</label>
                <input type="text" class="form-control" id="txtS_lastName" name="txtS_lastName" ng-model="currFamily.spause.last_name" placeholder="Last Name">
            </div>
            <!-- <abel class="col-md-2 col-form-label text-left"> -->
            <div class="form-group col-md-4">
                <label for="txtS_firstName">First Name</label>
                <input type="text" class="form-control" id="txtS_firstName" name="txtS_firstName" ng-model="currFamily.spause.first_name" placeholder="First Name">
            </div>
            <div class="form-group col-md-3"> <!--  ng-controller="datepickerCtrl" -->
                <label for="txtS_birthday">Date of Bitrh</label>
                <!-- <input type="date" class="form-control" id="txtS_birthday" placeholder="Birthday"> -->
                <div class="datepicker">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary" id="btnBirthday" name="btnBirthday"ng-click="openDP()">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </span>
                    <input type="text" class="form-control" id="txtS_birthday" name="txtS_birthday" uib-datepicker-popup="{{format}}" ng-model="currFamily.spause.birthday" is-open="dpPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="סגירה" clear-text="ניקוי" current-text="היום"/>
                </div>
            </div>
        </div>
    </div>
</div>