

    <div class="personal-data form-group">
        <!-- </fieldset> ng-show="{{guardian_phones.length > 0}}"-->
        <div class="form-row">
            <div class="col-md-12 pb-2">Phones :</div>
            <div style="display: inline-flex;" class="col-md-6" ng-repeat="phone in guardian_phones">
                <div class="form-group col-md-5">
                    <!-- <label for="inputPhoneType">Phone</label> -->
                    <!-- <input type="text" class="form-control" id="txtAddress" ng-model="guardian_address" placeholder="Address"> -->
                    <select id="inputPhoneType" class="form-control" ng-model="phone.type">
                        <option ng-repeat="(id,text) in phoneTypes" value="{{id}}">{{text}}</option>
                    </select>
                </div>
                <div class="form-group col-md-7">
                    <!-- <label>&nbsp;</label> -->
                    <input type="text" class="form-control" id="txtPhone" ng-model="phone.phone" placeholder="Phone Number">
                </div>
            </div>
        </div>
    </div>
    